# Git
.git
.gitignore

# Python buffers and environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/

# Computer Vision Data (Crucial)
# Don't upload local datasets to the image
datasets/
data/
*.mp4
*.avi
*.jpg
*.png
*.jpeg

# IDE settings
.vscode/
.idea/

# GitLab specific
.gitlab-ci.yml